:root {
  --main-col: #5791d0;
  --sec-col: #efac23;
  --thr-col: #8e8ae4;
  --white: #fefefe;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main  {
  display:grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto  1fr;
  /* padding: 12px; */
  /* gap: 8px; */
  height: 100vh;

}

.header {
	background-color: var(--white);
	grid-column: 2;
}

.sidebar {
  padding: 24px 32px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 22px;
  font-weight: 800
}

.sidebar li{

	font-weight: 600;
	list-style-type: none;
	text-decoration: none;
  margin-bottom: .5rem;
}

.sidebar a {
  display: flex;
  gap: 10px;
  align-items: center;

  text-decoration: none;
  color: var(--white);
}

.sidebar > div {
	margin-bottom: 50px;
	color: var(--white);

}

.sidebar {
  background: var(--main-col);
  grid-row: 1/3;
}

.dashboard {
  background: var(--thr-col);
}


.dashboard {
  display:grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 200px;
  gap: 3px;
  padding: 12px;
}

.dashboard .card {
  background: gray;
  border: 2px solid var(--thr-col);
}

.header {
  gap: 4rem;
  box-shadow: 0px 6px 6px -6px black;
  z-index: 5;
}

.header > .line > * {
  display: flex;
  align-items: center;
}

.header .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 48px
}

.header-search {
  flex-grow: 1;
  max-width: 700px;
  min-width: 200px;
  gap: 1rem
}

.header-search input[type="search"]{
  font-size: 1.4rem;
  background: lightgray;
  border: none;
  border-radius: 1em;
  flex-grow: 1;
}

.header-search button {
  border: none;
  background: none;
}

.header-profile {
  gap: 30px;
}



.header-buttons button{
  margin: 12px;
  height: 48px;
  width: 96px;
  background-color: var(--main-col);
  color: var(--white);
  font-weight: 800;
  font-size: large;
  border: none;
  border-radius: 2em;

}

.smaller-font {
  font-size: small;
}

.larger-font {
  font-size: large;
}

.bold {
  font-weight: 800;
}

.profile-icon {
  max-width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0rem 1rem;
}

.profile-icon.small {
  width: 48px;
}